@{
    ViewBag.Title = "Email confirmed";
}



<div class="main">
    <h1>Your email address has been successfully verified! You can now log in.</h1>
    <p>Thank you for joining our community!</p>
</div>