@{
    ViewBag.Title = "Logged in";
}


<div class="main">
    <h1>Welcome!</h1>
    <p>Login was successful. We're glad to have you with us.</p>
    <p>You can now go to the <a href="/Home/Index">home page</a></p>
</div>
