@{
    ViewBag.Title = "Home";
}



<div class="main">

    <div id="hello">

        <h1>Welcome to  Group Task Manager!</h1>
        <p>We’re glad to see you here and hope that the functionalities for managing tasks and projects will help you work more effectively.</p>

    </div>

</div>


